#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NUMS    1
#define NAV     2
#define FUNC    3
#define MEDIA   4
#define GAME    5

&lt {
    tapping-term-ms = <150>;
};

/ {
    macros {
        cm: ctrl_mode {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_press &kp LCTRL>,
                       <&macro_param_1to1>,
                       <&macro_tap &kp MACRO_PLACEHOLDER>,
                       <&macro_release &kp LCTRL>;
        };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        cth: ctrl_tap_hold {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&cm>, <&kp>;
        };
    };
    
    combos {
        compatible = "zmk,combos";

        fn_toggle_combo {
            timeout-ms = <200>;
            key-positions = <36 39>;    // RC(4,3) + RC(4,6)
            bindings = <&tog GAME>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                                &kp ESC         &kp GRAVE       &kp BSLH                                                &kp SQT         &kp LBKT        &kp RBKT
                &kp Q           &kp W           &kp E           &kp R           &kp T                   &kp Y           &kp U           &kp I           &kp O           &kp P
                &hm LALT A      &hm LSHIFT S    &hm LCTRL D     &hm LGUI F      &kp G                   &kp H           &hm LGUI J      &hm LCTRL K     &hm LSHIFT L    &hm LALT SEMI
                &cth Z Z        &cth X X        &cth C C        &cth V V        &kp B                   &kp N           &kp M           &kp COMMA       &kp DOT         &kp FSLH
                                                                &lt FUNC TAB    &lt NUMS RET            &lt NAV SPACE   &kp BSPC
            >;
        };

        nums_layer {
            bindings = <
                                &trans          &kp SPACE       &kp BSPC                                                &trans          &trans          &trans
                &kp KP_MINUS    &kp N7          &kp N8          &kp N9          &kp KP_DIVIDE           &kp EXCL        &kp AT          &kp HASH        &kp DOLLAR      &kp PERCENT
                &kp KP_PLUS     &kp N4          &kp N5          &kp N6          &kp KP_MULTIPLY         &kp CARET       &kp AMPS        &kp ASTRK       &kp LPAR        &kp RPAR
                &kp N0          &kp N1          &kp N2          &kp N3          &kp KP_DOT              &none           &kp MINUS       &kp UNDER       &kp EQUAL       &kp PLUS
                                                                &mo MEDIA       &none                   &mo MEDIA       &none
            >;
        };

        nav_layer {
            bindings = <
                                &trans          &trans          &trans                                                  &none           &none           &none
                &trans          &trans          &trans          &trans          &trans                  &none           &kp PAGE_UP     &kp HOME        &kp END         &kp PAGE_DOWN
                &trans          &trans          &trans          &trans          &trans                  &kp K_APP       &kp LEFT_ARROW  &kp UP_ARROW    &kp DOWN_ARROW  &kp RIGHT_ARROW
                &trans          &trans          &trans          &trans          &trans                  &kp RET         &kp DEL         &kp INSERT      &kp CAPS        &kp PSCRN
                                                                &trans          &mo MEDIA               &none           &none
            >;
        };

        func_layer {
            bindings = <
                                &kp F10         &kp F11         &kp F12                                                 &trans          &trans          &trans
                &trans          &kp F7          &kp F8          &kp F9          &trans                  &trans          &trans          &trans          &trans          &trans
                &trans          &kp F4          &kp F5          &kp F6          &trans                  &trans          &trans          &trans          &trans          &trans
                &trans          &kp F1          &kp F2          &kp F3          &trans                  &trans          &trans          &trans          &trans          &trans
                                                                &none           &mo MEDIA               &trans          &trans
            >;
        };

        multimedia_layer {
            bindings = <
                                &none           &none           &none                                                   &none           &none           &none
                &none           &kp C_VOL_DN    &kp C_MUTE      &kp C_VOL_UP    &none                   &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4
                &none           &kp C_PREV      &kp C_PP        &kp C_NEXT      &none                   &none           &kp C_AL_CALC   &none           &none           &none
                &none           &kp C_BRI_DN    &none           &kp C_BRI_UP    &none                   &none           &none           &none           &none           &kp C_SLEEP_MODE
                                                                &none           &none                   &none           &bt BT_CLR
            >;
        };

        game_layer {
            bindings = <
                                &kp ESC         &kp TAB         &kp BSLH                                                &kp SQT         &kp LBKT        &kp RBKT
                &kp Q           &kp W           &kp E           &kp R           &kp T                   &kp Y           &kp U           &kp I           &kp O           &kp P
                &kp A           &kp S           &kp D           &kp F           &kp G                   &kp H           &hm LGUI J      &hm LCTRL K     &hm LSHIFT L    &hm LALT SEMI
                &kp Z           &kp X           &kp C           &kp V           &kp B                   &kp N           &kp M           &kp COMMA       &kp DOT         &kp FSLH
                                                                &kp LSHIFT      &kp SPACE               &lt NAV SPACE   &kp BSPC
            >;
        };
    };
};
